stages:
    - build
    - test

build:
    stage: build
    tags:
        - shell_exec
    before_script:
        - whoami
        - mkdir SeisSol_build
        - cd SeisSol_build
        - wget https://syncandshare.lrz.de/dl/fiJNAokgbe2vNU66Ru17DAjT/netcdf-4.6.1.tar.gz
        - wget https://github.com/hfp/libxsmm/archive/master.zip
        - apt-get --yes install gcc-8 g++-8 gfortran-8
        - update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 100
        - update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 100
        - update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-8 100
        - gcc --version
        - apt-get install -qq --yes openmpi-bin openmpi-common libopenmpi-dev hdf5-tools libhdf5-openmpi-dev python3 python3-pip libmetis-dev libparmetis-dev cxxtest
        - gfortran --version
    script:
        - echo "now building"
        - echo $CI_REGISTRY $CI_REGISTRY_IMAGE $CI_REGISTRY_USER
        - ls
        - pwd
        - git --version
        - cmake --version



    artifacts:
        paths:
            - SeisSol_build/
test:
    stage: test
    script: 
    - echo "echo testing"
    - pwd
    - ls
    - python3 --version
