stages:
    - build
    - test

build:
    stage: build
    tags:
        - shell_exec
    before_script:
        - whoami
        - pwd
        - ls
        - wget https://syncandshare.lrz.de/dl/fiJNAokgbe2vNU66Ru17DAjT/netcdf-4.6.1.tar.gz
        - wget https://github.com/hfp/libxsmm/archive/master.zip
        - apt-get --yes install gcc-8 g++-8 gfortran-8
        - update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 100
        - update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 100
        - update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-8 100
        - gcc --version
        - apt-get install -qq --yes openmpi-bin openmpi-common libopenmpi-dev hdf5-tools libhdf5-openmpi-dev python3 python3-pip libmetis-dev libparmetis-dev cxxtest
        - gfortran --version
        - pip3 install --upgrade pip
        - pip3 install 'numpy>=1.12.0'
        - pip3 install lxml
        - pip3 install setuptools
        - pip3 install sphinx
        - pip3 install sphinx_rtd_theme
        - cd netcdf-4.6.1 && CC=h5pcc ./configure --prefix=/usr --enable-shared=no --disable-dap && make && sudo make install && cd ..
        - unzip master.zip
        - cd libxsmm-master && make generator && sudo cp bin/libxsmm_gemm_generator /usr/bin && cd ..
    script:
        - echo "now building"
        - echo $CI_REGISTRY $CI_REGISTRY_IMAGE $CI_REGISTRY_USER
        - ls -a
        - pwd
        - git --version
        - git submodule update --init --recursive
        - cmake --version
        - set -euo pipefail
        - export IFS=$'\n\t'
        - export CTEST_OUTPUT_ON_FAILURE=1
        - equation=elastic
        - mechanisms=0
        - precision=double
        - build_type=Release
        - echo $build_type, $equation, $precision
        - dirname="build_${equation}_${precision}_${build_type}"
        - echo "mkdir $dirname"
        - mkdir -p $dirname && cd $dirname
        - pwd 
        - which pkg-config
        - CMAKE_PREFIX_PATH=~ 
        - cmake -DNETCDF=OFF -DMETIS=ON -DCOMMTHREAD=ON -DASAGI=OFF -DHDF5=ON -DCMAKE_BUILD_TYPE=$build_type -DTESTING=ON -DLOG_LEVEL=warning -DLOG_LEVEL_MASTER=info -DARCH=hsw -DPRECISION=$precision -DEQUATIONS=$equation -DNUMBER_OF_MECHANISMS=$mechanisms -DGEMM_TOOLS_LIST=LIBXSMM ..


    artifacts:
        paths:
            - SeisSol_build/
test:
    stage: test
    script: 
    - echo "echo testing"
    - pwd
    - ls
    - python3 --version
